ZProgress-Swift/ZProgress-Swift.xcodeproj/project.xcworkspace/xcshareddata/ZProgress-Swift.xcscmblueprint
ZProgress-Swift/ZProgress-Swift.xcodeproj/project.xcworkspace/xcuserdata/rogue.xcuserdatad/UserInterfaceState.xcuserstate
ZProgress-Swift/ZProgress-Swift.xcodeproj/xcuserdata/rogue.xcuserdatad/xcschemes/xcschememanagement.plist
ZProgress-Swift/ZProgress-Swift.xcodeproj/xcuserdata/rogue.xcuserdatad/xcschemes/ZProgress-Swift.xcscheme
